# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
/static/

# Environment variables
.env

# Editors
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
